.completed-todo {
    text-decoration: line-through;
    color: lightgrey;
    border-style: none;
    display: inline;
}

.todo {
    text-decoration: none;
    color: black;
    border-style: none;
    display: inline;
}

.hidden {
    display: none;
}

::-webkit-inner-spin-button { 
    display: none; 
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}