.completed-todo {
    text-decoration: line-through;
    color: lightgrey;
    border-style: none;
    display: inline;
}

.editable-todo {
    text-decoration: none;
    color: black;
    border-style: solid;
}

.todo {
    text-decoration: none;
    color: black;
    border-style: none;
    display: inline;
}